#cards {
    color: $white;
    margin-top: -60px;
    @include flex (space-between, center);

    .card {
        position: relative;
        margin: 15px;

         &-info {
            @include flex (space-around, start, column);
            @include wh(300px, 250px);
            padding: 10px 20px;
            position: relative;
            z-index: 10;


            h2 {
                padding: 20px 0;  
                position: relative;

                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -2px;
                    background-color: $white;
                    @include wh(40%, 2px);
                }
            }
            
        }
        .box1 {
            @include box(left, -15px, top, -15px, 300px, 180px);
            z-index: 5;

        }
        .box2 {
            @include box(right, -15px, bottom, -15px, 300px, 180px);
            z-index: 5;

        }

    }

}
@media (max-width: $bp-1000) {
    #cards {
        @include flex(center, center, column);
        .card {
            width: 70%;
            &-info{
                width: 100%;
            }
        }
    }
}
@media (max-width: 500px) {
    #cards {
        margin-top: -30px;
        .card {
            .box1 {
                @include wh (150px, 150px);
    
            }
        }
    }
}