footer {
    background-color: $black;
    min-height: 180px;

    .footer {
        @include flex(space-between, center);
        padding: 50px;

        .rrss {
            @include flex();

            .round {
                @include xy(30px);
                @include flex();
                border: 2px solid $white;
                border-radius: 50%;
                margin: 5px;

                    &:hover {
                        cursor: pointer;
                        border: 2px solid $red;
                        i{ color: $red; }
                    }

                i { color: $white; }
                
            }
        }

        h2 {
            color: $white;
            text-transform: uppercase;
            font-size: $rem2; 
        }

        .cta {
            color: $white;
            font-family: $h1;
            padding: 10px 20px;
            border: 2px solid $red;
            cursor: pointer;
            border-radius: 2px;

                &:hover{
                    color: $white;
                    background-color: $red;
                }
        }
    }

    @media (max-width: $bp-600) {
        .footer {
            @include flex(center, center, column);

            > div {
                margin: 25px 0;
            }
        }
    }
}