#grid {
    position: relative;
    margin: 100px 0 0;
    ;
    .bg-grid {
        @include xy(900px);
        position: absolute;
        background-image: linear-gradient($red, $red);
        top: -200px;
        right: 0;
        z-index: -1;
    }
    .grid {
        @include grid(repeat(3, 320px), repeat(4, 280px), 10px);
        justify-content: center;
        
        &-item {

            &:nth-child(3) {
                grid-column: 1;
            }
            &:nth-child(6) {
                grid-column: 2;
            }
            &:nth-child(8) {
                @include flex (space-around, start, column);
                background: $white;
                padding: 5px;
                
                h2 {
                    padding: 20px 0;  
                    position: relative;
    
                    &:after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: -20px;
                        background-color: $black;
                        @include wh(40%, 2px);
                    }
                }
            }

            img {
                object-fit: cover;
            }
        }
 
    }
}
@media (max-width: $bp-1000) {
    #grid {
        .bg-grid {
            @include wh (60%, 1000px);
        }
        .grid {
            grid-template-columns: repeat(2, 320px);
            grid-template-rows: repeat(5, 280px);
        }    
    }
}

@media (max-width: 650px) {
    #grid {
        .grid {
            grid-template-columns:320px;
            grid-template-rows: repeat(10, 280px);
            &-item {
                &:nth-child(6) {
                    grid-column: 1;
                }
            }
        }
        
    }
}
