header {
    position: relative;
    z-index: 1;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        height: 60px;

        #logo {
            font-family: $h1;
            font-size: $rem1;
            font-weight: 700;
        }

        #menu i {
            font-size: $rem15;
        }
    }

    #banner {
        @include wh($p100, 500px);
        background-image: url("https://raw.githubusercontent.com/irenews/urban-landing/master/img/dk-verne-ho-banner.jpg");
        background-size: cover;
        background-position: center;
        z-index: 99;

        .title {
            width: $p50;
            color: $white;
            text-align: center;
            position: absolute;
            top: 50%;
            left: $p50;
            transform: translate(-50%, -45%);

            h1 {
                font-family: $h1;
                font-size: $rem35;
                line-height: $rem3;
                margin-bottom: 20px;
            }
            p{
                font-size: 16px;
                line-height: 20px;
            }
            
        }
        @media (max-width: $bp-960) {
            .title {
                width: 70%;

                h1 {
                    font-size: $rem25;
                    margin-bottom: 10px;
                }
                p{
                    font-size: 14px;
                }

                @media (max-width: 500px) {
                    h1 {
                        font-size: $rem2;
                        line-height: $rem2;
                    }
                }
            }
        }

        @media (max-width: $bp-600) {
            & {
                height: 300px;
            }
            
        }
        
    }

    
    
}